.card-container {
  padding: 10px;
}
.card {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 140px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  transform: translateX(0);
  transition: all 1s;
  opacity: 0;
}
.show {
  opacity: 1;
  transform: translateX(100%);
}
