* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.wrapper h1 {
  margin-bottom: 20px;
}
.date-picker {
  width: 250px;
}
.selected-date {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.date-picker .months-dates {
  /* display: none; */
  margin-top: 10px;
}
.date-wrapper {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  /* font-size: 15px;
  font-weight: 600; */
}
.left-month {
  font-weight: 700;
  font-size: 25px;
}
.right-month {
  font-weight: 700;
  font-size: 25px;
}
.month {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}
