body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  /* max-height: 100vh; */
  margin: 20px;
}

.container {
  width: 885px;
  margin-top: 30px;
}
.weekdays {
  width: 100%;
  display: flex;
}
.weekdays div {
  width: 110px;
  padding: 10px 10px 10px 0;
  margin-right: 7px;
}
.calender {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.day {
  width: 100px;
  height: 100px;
  margin: 5px 5px 0 0;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
